/* style320.css */
#main {
    margin: 0 auto;
    border: thick solid black;
    height: 50vh;
    padding: 3em;
}
@media screen and (min-width: 320px) {
    #main {
        width: 50%;
        background-color: chocolate;
    }
}
